html{background-color:lightgreen;}

section{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
        // flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    background-color: magenta;}


div{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 5px;
}

//odd or even is possible to apply instead of number; (3n+2) willgive you 2,5,8
div:nth-child(4){
    align-self: flex-start;
    background-color:darkcyan;
} 